@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

body{
   
    .parent {
        width: 100%;
        background-color: #6AA2B0;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .first {
            color: #E05263;
        }
        .second {
            color: #2D2512;
        }
        .first:hover {
        color: #22249E;
        transition: all 1s ease-in-out;
        }
    }
    }
      .child {
    .zero {
        border-width:10px;
        height:250px;
        border-radius:50%;
        border-color:#FDF0F0;
        border-style:solid;
        transition: all 2s;
        
        }
    .zero:hover {
        scale: 1.2;
    }